body {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
}
#header {
  position: fixed;
  top: 0;
  background-color: #0a0f0d;
  height: 48px;
  width: 100%;
  font-size: 17px;
}
.box {
  display: flex;
  width: 50%;
  height: 48px;
  margin: auto;
  justify-content: space-around;
}
#logo {
  width: 110px;
  height: 48px;
}
.und {
  text-decoration: none;
  color: #fbfbfb;
}
#header2 {
  outline: 1px solid red;
  width: auto;
  height: 44px;
  margin-top: 44px;
  background-color: #ee4266;
}
#subtitle {
  margin: 0;
  padding: 17px;
  text-align: center;
  color: #fbfbfb;
}
#linkSB {
  text-decoration: none;
  color: #fbfbfb;
}
#linkSB:hover {
  text-decoration: underline;
}
#content {
  width: auto;
  height: 1500px;
  background-color: #0a0f0d;
  padding-top: 30px;
}
#boxSlogan {
  width: 60%;
}
#slogan {
  padding: 0;
  margin: 0;
  color: #fbfbfb;
  font-size: 30px;
  display: flex;
  justify-content: center;
}
