body {
  background-color: rgb(226, 226, 226);
  padding: 0;
  margin: 0;
  @font-face {
    font-family: Menthari;
    src: url(./pasta/Menthari.otf);
  }
  font-style: normal;
}

.borda {
  background-color: rgb(195, 195, 195);
  margin: 25px;
  border-style: solid;
  border-radius: 20px;
  border-width: 5px;
}
#tela {
  background-color: rgb(195, 195, 195);
  height: 1500px;
}
h1 {
  font-size: 30px;
  text-align: center;
  font-weight: 900;
  font-family: "Indie Flower", cursive;
}
p {
  font-size: 20px;
  text-indent: 20px;
  margin: 30px;
  font-weight: 200;
  font-family: "Menthari", "Comic Sans MS";
}
